<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./hmtask5.css">
</head>
<body>
    <fieldset>
        
       <h1 >Registration</h1>
       <div class="main">
            <div style="margin-right: 40px ;">
             <label for="in1">Full Name</label> <br>
             <input type="text" id="in1" placeholder="Enter your name" >  <br>
             <label for="in3">Email</label> <br>
             <input id="in3" type="email" placeholder="Enter your email"> <br>
             <label for="in5">Password</label> <br>
             <input type="password" id="in5" placeholder="Enter your password"> <br>
            </div>
        
            <div>
             <label for="in1">Username</label> <br>
             <input type="text" id="in1" placeholder="Enter your username" >  <br>
             <label for="in3">Phone Number</label> <br>
             <input id="in3" type="number" placeholder="Enter your number"> <br>
             <label for="in5">Confirm Password</label> <br>
             <input type="password" id="in5" placeholder="Confirm your password"> <br>
            </div>
       </div>

       <h2>Gender</h2>
       <input id="in2" type="radio" name="rad">
       <label class="lab" for="in2"> Male</label>

       <input id="in2" type="radio" name="rad">
       <label class="lab" for="in2"> Female</label>

       <input id="in2" type="radio" name="rad">
       <label class="lab" for="in2"> Prefer not to say</label> <br>

       <button>Register</button>
    </fieldset>
</body>
</html>