<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English</title>
    <link rel="stylesheet" href="./exam.css">
</head>
<body>
    <div class="start">
        <h1 class="start3">Английский язык</h1>
        <div class="start1">
            <p class="start4">O компании</p>
            <p class="start4">Новости</p>
            <p class="start4">Помощь</p>
            <p class="start4">Отзывы</p>
            <p class="start4">Контакты</p>
           <div class="start2">
                <p class="start5">Звонок бесплатный</p>
                <h2>+7 495 123-45-67</h2>
           </div> 
        </div>
    </div>

    <div class="body1">
        <div class="body1div1">
           <h1 class="textbody1">Курсы английского языка</h1>  <br>
           <p class="text1body1">Станьте сильнее и увереннее всего за 7 дней прохождения курса онлайн</p>   
        </div>
        <div class="body1div2">
            <h3 style="font-size: 20px; margin-bottom: 10px;">Запишись на первый бесплатный урок прямо сейчас</h3>
            <input class="in" type="text" placeholder="Ваше имя"> <br>
            <input class="in" type="number" placeholder="Ваш телефон"> <br>
            <input class="in" type="email" placeholder="Электронная почта">
            <button class="body1but">
                Оставить заявку
            </button>
            <p style="color: lightgray; font-size: 20px; margin-top: 30px; margin-left: 25px;">+ Скидка 20% на покупку любого курса</p>
        </div>
    </div>


    <div class="body2">
        <h1 style="font-size: 64px;">Наши курсы</h1>
        <p style="font-size: 24px;">Мы подготовили для вас интересные обучающие программы <br> от лучших преподавателей</p>
        <div class="body2div">
            <img src="./Dark.png" alt="">
            <img src="./1 of 3.png" alt="">
            <img src="./1 of 3 (2).png" alt=""> <br>
            <img src="./1 of 3 (3).png" alt="">
            <img src="./1 of 3 (4).png" alt="">
            <img src="./1 of 3 (5).png" alt="">
        </div>
    </div>

    <div class="body3">
        <div class="body3fo">
            <img class="body3im" src="./01 (2).png" alt="">
            <img class="body3im2" src="./01 (2).png" alt="">
            <img class="body3im3" src="./01 (2).png" alt="">
            <img class="body3im4" src="./01 (2).png" alt="">    
        </div>  
            
    </div>

    <div class="body4">
        <h1 style="color: red; text-align: center; margin-bottom: 20px;">Команда</h1>
        <h1 style="font-size: 64px; text-align: center;">Наши учителя</h1>
        <p style="text-align: center; margin-top: 20px; font-size: 30px;">Подберём подходящего педагога для каждого ученика</p>
        <div class="photo">
            <div style="text-align: center;">
                <img src="./Ellipse 11.png" alt="">
                <h2 style="font-size: 30px; margin: 10px 0px;">Имя Фамилия</h2>
                <p style="font-size: 20px;">Магистр иностранной филологии</p>
            </div>
            <div style="text-align: center;">
                <img src="./Ellipse 11 (2).png" alt="">
                <h2 style="font-size: 30px; margin: 10px 0px;">Имя Фамилия</h2>
                <p style="font-size: 20px;">Магистр иностранной филологии</p>
            </div>
            <div style="text-align: center;">
                <img src="./Ellipse 11 (3).png" alt="">
                <h2 style="font-size: 30px; margin: 10px 0px;">Имя Фамилия</h2>
                <p style="font-size: 20px;">Лингвист переводчик</p>
            </div>
            <div style="text-align: center;">
                <img src="./Ellipse 11 (4).png" alt="">
                <h2 style="font-size: 30px; margin: 10px 0px;">Имя Фамилия</h2>
                <p style="font-size: 20px;">Магистр иностранной филологии</p>
            </div>
            
        </div>
    </div>

    <div class="body5">
        <h1 style="font-size: 64px; text-align: center; margin-bottom: 50px;">Сертификаты</h1>
        <div class="photo">
            <img src="./Dark (2).png" alt="">
            <img src="./Dark (3).png" alt="">
            <img src="./Dark (4).png" alt="">
            <img src="./Dark (5).png" alt="">
        </div>
    </div>

    <div class="body6">
        <div class="body61">
            <h1 style="color: white; font-size: 48px;">Запишитесь на <br> бесплатный урок</h1>
            <p class="text1body1" style="color: white; margin-bottom: 30px;">Заполните форму ниже для прохождения 1-го бесплатного урока. Администратор свяжется с вами для согласования времени.</p>
            <input class="in" type="text" placeholder="Ваше имя"> <br>
            <input class="in" type="number" placeholder="Ваш телефон"> <br>
            <input class="in" type="email" placeholder="Электронная почта">
            <button class="body1but" style="width: 95%;">Оставить заявку</button>
            <p style="color: white; width: 80%; margin: auto; margin-top: 20px;">Оставляя заявку, вы соглашаетесь на обработку персональных данныхи с условиями бронирования счёта</p>
        </div>
    </div>

    <div class="body7">
        <img style="margin-bottom: 30px;" src="./Ellipse 1.png" alt="">
        <h1 style=" font-size: 24px; width: 50%; margin: auto;">Работа с сервисом приносит радость, потому что высочайший профессионализм, удобство, оперативность, и просто <br> приятные люди!</h1>
        <h1 style="font-size: 18px; padding-top: 30px; padding-bottom: 10px;">Александра Селезнева</h1>
        <p>фотограф</p>
    </div>

    <div class="body8">
        <img src="./03.png" alt="">
        <img src="./02.png" alt="">
    </div>

    <div class="body9">
        <div class="body91">
             <h1 style="color: white; font-size: 48px; padding-bottom: 20px;">Курсы английского языка онлайн</h1>
             <p style="padding-bottom: 10px; font-size: 20px;">Ваш надежный помощник в покорении английской лексики и грамматики! Если Вы уже давно и долго пытаетесь справиться с английским, но Ваши попытки так и не увенчались успехом – тогда наши курсы ангдийского языка онлайн именно то, что <br> Вам нужно!</p>
            <p style="padding-bottom: 10px; font-size: 20px;">Если Вы современный молодой человек или девушка, ученик школы, студент университета, домохозяйка или бизнесмен – то Вы безусловно знаете, как важна каждая минута и стараетесь экономить свое время. Наша школа придет в этом Вам на помощь! Курсы английского языка онлайн эффективные в любое время в любом месте. Вы можете заниматься дома, на работе, в командировке или отпуске. Вам нужно всего лишь интернет и устройство: компьютер, планшет или даже телефон.</p>
            <p style="padding-bottom: 10px; font-size: 20px;">Весь учебный материал у нас электронный, который можно загрузить хоть на все устройства, а при желании еще и распечатать.</p>
            <button class="but5">
                <b> Подробнее</b>
            </button>
        </div>
    </div>

    <div class="oxir">
        <div class="icons">
            <img src="./Light.png" alt="">
            <img src="./Light (2).png" alt="">
            <img src="./Light (3).png" alt="">
            <img src="./Light (4).png" alt="">
        </div>

        <div class="start0">
            <p class="start4">O компании</p>
            <p class="start4">Новости</p>
            <p class="start4">Помощь</p>
            <p class="start4">Контакты</p>
        </div>
        <p style="text-align: center;"><b> © 2020 Английский язык</b></p>
    </div>    
</body>
</html>